extends base.pug

block content
  h5.card-header.mb-2 Mes itinéraires :
    .d-flex.justify-content-end
      a.btn.btn-primary(href='./creation-itineraire')
        i.fas.fa-plus
        |  Nouvel itinéraire
      a.btn.btn-warning(href='./occupation', style="margin-left:0.5em;")
        i.fas.fa-map
        |  Carte d'occupation
  table#itineraireTable.table.table-bordered.table-responsive.mt-1(style="text-align : left !important;")
    thead.table-dark
      tr
        th Nom de l'itinéraire
        th Liste des points
        th Distance
        th Actions

    tbody
      if routes.length > 0
        each route in routes
          tr
            td 
              h6.mb-3 #{route.name}
            td
              ul.list-group
                li.list-group-item #{route.startPoint}
                li.list-group-item #{route.endPoint}
            td.mb-1 Distance: #{route.distance} m
            td
              a.btn.btn-primary.m-2(href=`/view-itineraire/${route.id}`)
                i.fas.fa-search
                | 

              a.btn.btn-success(href=`/itinerary/${route.id}`)
                i.fas.fa-download
                |

              a.btn.btn-danger.m-2(href=`/delete-itineraire/${route.id}`)
                i.fas.fa-trash
                | 
      else
        tr
          td 
            | Aucunes données pour le moment !
          td
          td.mb-1 
          td

  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js")
  script(src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json")
  script.
    $(document).ready(function() {
        $('#itineraireTable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'
            }
        });
    });
