extends base.pug

block content
  h5.card-header Mes itinéraires :
    .d-flex.justify-content-end
      a.btn.btn-primary(href='./creation-itineraire')
        i.fas.fa-plus
        |  Nouvel itinéraire
      a.btn.btn-warning(href='./occupation',style="margin-left:0.5em;")
        i.fas.fa-map
        | Carte d'occupation

  table.table.table-bordered.table-responsive.mt-1
    thead.table-dark
      tr
        th Nom de l'itinéraire
        th Liste des points
        th Distance
        th Actions

    tbody
      if routes.length > 0
        each route in routes
          tr
            td 
              h6.mb-3 #{route.name}
            td
              ul.list-group
                li.list-group-item #{route.startPoint}
                li.list-group-item #{route.endPoint}
            td.mb-1 Distance: #{route.distance} km
            td
              a.btn.btn-primary.m-2(href=`/view-itineraire/${route.id}`)
                i.fas.fa-search
                | 

              button.btn.btn-success(type='button')
                i.fas.fa-download
                | 

              a.btn.btn-danger.m-2(href=`/delete-itineraire/${route.id}`)
                i.fas.fa-trash
                | 
      else
        tr
          td 
            | Aucune données pour le moment !
          td
          td.mb-1 
          td

